<!DOCTYPE html>
<html>
  <head>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
    <style>
        .boxsizingBorder {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>
  </head>
  <body class='container-fluid' style = "text-align: center;">

      <form action='cast' method='post'>
        <div class="form-group">
             <!-- <label for="message">Message</label>-->
              <textarea class="form-control" name = "message" id="message" rows="5" cols="20" style = "resize:none;width:70%;"></textarea>
          </div>
        <div class="col-auto">
            <input type = "text" name = "sender" placeholder="Anonymous">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>

      </form>

      <form action='\search' method='post'>
        <div>
          <input type = "text" name = "search" placeholder="Search...">
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
      </form>
      <div>
        <%message_file = YAML.load_file("messages.yml")%>
          <% message_file.each do |id, text| %>

            <tr>
              <th><%= id%></th>:
              <td><%= text%><br></td>
            </tr>

          <% end %>
      </div>
  </body>
</html>
